var express = require('express');
var router = express.Router();

/* GET home page. */
router.get('/', function(req, res, next) {
// res.render('index', { title: 'Express111' });
res.send({
id: 1,
name: '刘岂宇',
age: 18,
})
});

module.exports = router;
